### Ruby
*.gem
*.rbc

### Generated C files
/app/src/*-app_loader.c
/app/src/*-ruby_bytecode.c

### Built Apps
/app/bin/*

## Environment normalization:
/app/.bundle/
/app/vendor/bundle
/app/lib/bundler/man/

### IDEs
/.idea
/.vscode
*.code-workspace

